<% layout('layouts/app') %>
<!-- error page -->
<div class="row">
    <div class="alert alert-danger" role="danger">
    <h3 class="text-center"><%= err.statusCode %> <%= err.message %></h3>   
    <hr>
    <h1 class="text-secondary text-center mt-auto"><%= err.statusCode %></h1>
    <h1 class="text-secondary text-center mt-auto"><%= err.statusCode %><%= err.statusCode %></h1>
    <h1 class="text-secondary text-center mt-auto"><%= err.statusCode %><%= err.statusCode %><%= err.statusCode %></h1>
    <h1 class="text-secondary text-center mt-auto"><%= err.statusCode %><%= err.statusCode %><%= err.statusCode %><%= err.statusCode %></h1>
    <h1 class="text-secondary text-center mt-auto"><%= err.statusCode %><%= err.statusCode %><%= err.statusCode %><%= err.statusCode %><%= err.statusCode %></h1>
    <h1 class="text-secondary text-center mt-auto"><%= err.statusCode %><%= err.statusCode %><%= err.statusCode %><%= err.statusCode %><%= err.statusCode %><%= err.statusCode %></h1>
    <h1 class="text-secondary text-center mt-auto"><%= err.statusCode %><%= err.statusCode %><%= err.statusCode %><%= err.statusCode %><%= err.statusCode %><%= err.statusCode %><%= err.statusCode %></h1>
        <!-- <p><%= err.stack %></p>  -->
    </div>
</div>